body {
    /*background-color: lightskyblue;*/
    background-color: #001029;
    padding: 15px;
    color: #fffdd0;
    /*font-family: 'Old Standard TT', serif;*/
    /*background-image: url("winter-fairy-tale-at-sunset-in-the-mountains Reduced.jpg");*/
}

main {
    padding: 20px;
}

header {
    color: white;
    padding: 20px 10px;
    text-align: center;
}

.chakra-petch-light {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.chakra-petch-regular {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.chakra-petch-medium {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.chakra-petch-semibold {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.chakra-petch-bold {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.chakra-petch-light-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.chakra-petch-regular-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.chakra-petch-medium-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.chakra-petch-semibold-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.chakra-petch-bold-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: italic;
}


p {
    font-family: 'Chakra Petch', sans-serif;
}

html {
    font-family: 'Chakra Petch', sans-serif;
}

h2 {
    color: deeppink;
    border-bottom: 2px solid #007acc;
    padding-bottom: 5px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 20%;
    border-style: double;
}

nav {
    display: block;
}

.contact-info a {
    /*color: white;*/
    text-decoration: none;
}

.contact-info p {
    margin: 5px 0;
}

#ProfilePicture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    border-style: double;
}