body {
    background-color: lightskyblue;
    padding: 15px;
    font-family: 'Old Standard TT', serif;
    /*background-image: url("winter-fairy-tale-at-sunset-in-the-mountains Reduced.jpg");*/
}

p {
    font-family: 'Chakra Petch', sans-serif;
}

h2 {
    color: deeppink;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 20%;
    border-style: double;
}

nav {
    display: block;
}